.handsontable {
  /* Base surfaces */
  --hot-surface-color: #fff;
  --hot-header-bg-color: #f0f0f0;
  --hot-panel-bg-color: #eee;
  --hot-indicator-surface-color: #f3f3f3;

  /* Borders and outlines */
  --hot-border-color: #ccc;
  --hot-border-color-light: #E6E6E6;
  --hot-border-color-disabled: #d3d3d3;
  --hot-indicator-border-color: #A6A6A6;
  --hot-focus-outline-color: #5292F7;
  --hot-contrast-color: #000;

  /* Text colors */
  --hot-header-text-color: #222;
  --hot-license-text-color: #323232;
  --hot-muted-text-color: #999;
  --hot-placeholder-icon-color: #EEE;
  --hot-guide-color: #777;

  /* Accents and states */
  --hot-accent-color: #34a9db;
  --hot-area-overlay-color: #005eff;
  --hot-highlight-bg-color: #dcdcdc;
  --hot-selection-bg-color: #8eb0e7;
  --hot-invalid-cell-bg: #ff4c42;
  --hot-warning-bg-color: #fcedd9;
  --hot-warning-text-color: #583707;
  --hot-fill-border-color: red;
  --hot-collapse-shadow-color: rgba(0, 0, 0, 0.4);
  --hot-indicator-ring-shadow-color: rgba(238, 238, 238, 1);
}
